/*Diseño del grid*/

.container-title{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: repeat(6,auto);
    text-align: center;
    padding: 0 0 30px 0px;
    min-width: 500px;
}
.container-title p{
    line-height: 20px;
    padding-top: 30px;
    font-weight: bold;
}
.container-grid{
    display: flex;
}

.p1{
    grid-row: 1/2;
    grid-column: 1/2;
}
.p2,.pp11{
    grid-row: 1/2;
    grid-column: 2/3;
}
.p3,.pp12{
    grid-row: 1/2;
    grid-column: 3/4;
}
.p4,.pp13{
    grid-row: 1/2;
    grid-column: 4/5;
}
.p5,.pp14{
    grid-row: 1/2;
    grid-column: 5/6;
}
.column-data{
    padding: 5px;
    object-fit: fill;
    width: 40px;
    min-width: 100px;
    max-width: 150px;
    min-width: 80px;
}
.column1{
    grid-row: 2/3;
    grid-column: 1/2;
}
.img1{
    padding: 0;
    grid-row: 2/3;
    grid-column: 2/3;
}
.img2{
    grid-row: 2/3;
    grid-column: 3/4;
}
.img3{
    grid-row: 2/3;
    grid-column: 4/5;
}
.img4{
    grid-row: 2/3;
    grid-column: 5/6;
}
.img5{
    grid-row: 3/4;
    grid-column: 1/2;
}
.img6{
    grid-row: 4/5;
    grid-column: 1/2;
}
.img7{
    grid-row: 5/6;
    grid-column: 1/2;
}
.img8{
    grid-row: 6/7;
    grid-column: 1/2;
}